<!DOCTYPE html>
<html lang="en">
<head>
    <title>Barsoom</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron text-center">
    <div class="shadow m-2 pb-5">
        <h1 class="display-2">Mission to Mars</h1>
        <a href="#" class="btn btn-info" role="button">Scrape New Data</a>
        <span class="border"></span>
        <span class="rounded-lg"></span>
    </div> 
</div>


<div class="card mb-3">
    <h3 class="card-header">Latest Mars News</h3>
    <div class="card-body">
        <h5 class="card-title">Placeholder</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-9">
            <h4>Featured Mars Image</h4>
            <img src="https://spaceimages-mars.com/image/featured/mars1.jpg" alt="Featured Image">
        </div>
        <div class="col-3">
            <h4>Mars Facts</h4>
            <table border="1" class="dataframe">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>0</th>
                    <th>1</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>0</th>
                    <td>Equatorial Diameter:</td>
                    <td>6,792 km</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td>Polar Diameter:</td>
                    <td>6,752 km</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Mass:</td>
                    <td>6.39 × 10^23 kg (0.11 Earths)</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Moons:</td>
                    <td>2 ( Phobos &amp; Deimos )</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Orbit Distance:</td>
                    <td>227,943,824 km (1.38 AU)</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Orbit Period:</td>
                    <td>687 days (1.9 years)</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Surface Temperature:</td>
                    <td>-87 to -5 °C</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>First Record:</td>
                    <td>2nd millennium BC</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Recorded By:</td>
                    <td>Egyptian astronomers</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    

<div class="container">
    <h2>Mars Hemispheres</h2>
    <div class="card-group">
        <div class="card bg-light">
            <img class="card-img-top" src="https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg" alt="Cerberus" style="width: 256px;">
            <div class="card-body"> 
            <p class="card-text">Cerberus Hemisphere Enhanced</p>
            </div>
        </div>
        <div class="card bg-light">
            <img class="card-img-top" src="https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg" alt="Schiaparelli" style="width: 256px;">
            <div class="card-body">
            <p class="card-text">Schiaparelli Hemisphere Enhanced</p>
            </div>
        </div>
        <div class="card bg-light">
            <img class="card-img-top" src="https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg" alt="Syrtis Major" style="width: 256px;">
            <div class="card-body">
            <p class="card-text">Syrtis Major Hemisphere Enhanced</p>
            </div>
        </div>
        <div class="card bg-light">
            <img class="card-img-top" src="https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg" alt="valles_marineris" style="width: 256px;">
            <div class="card-body">
            <p class="card-text">Valles Marineris Hemisphere Enhanced</p>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="jumbotron">
        <header>
            <h1 style="text-align:center;">Mission to Mars</h1>     
        </header>
    </div>

    <a class="btn btn-primary" href="#" role="button">Scrape New Data</a>
 -->










</body>
</html>